<div class="main-wrapper">
  <div class="left-column" [ngStyle]="{'display': isInfoWindowOpen ? 'block' : 'none'}">
    <app-marker-info [data]="selectedMarkerInfo"></app-marker-info>
  </div>
  <div class="map-wrapper">
    <google-map width="auto" height="95vh" [zoom]="zoom" [center]="center">
      <map-marker
        #mapMarker="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        (mapClick)="openInfo(mapMarker, marker)"
      >
      </map-marker>
      <map-info-window (closeclick)="onInfoWindowClose()">
        <span *ngIf="selectedMarkerInfo">{{ selectedMarkerInfo.label.text }}</span>
      </map-info-window>
    </google-map>
  </div>
</div>
