<div class="dialog-wrapper">
  <h3 class="title">Add new location</h3>
  <form class="form" [formGroup]="location">
    <mat-label>Enter name</mat-label>
    <input type="text" required matInput placeholder="Name" formControlName="name" required />

    <mat-label>Enter longitude</mat-label>
    <input type="number" required matInput placeholder="longitude" formControlName="longitude" required />

    <mat-label>Enter latitude</mat-label>
    <input type="number" required matInput placeholder="latitude" formControlName="latitude" required />
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [disabled]="location.status == 'INVALID'" (click)="onDoActionClick()">Ok</button>
  </div>
</div>
